@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");

/* 변수 모음 */
$font-base: "Noto Sans KR", Roboto, Arial, sans-serif;

$color-primary: #2563eb;
$color-white: #fff;
$color-black: #fff;
$color-text: #222;
$color-border: #ddd;

$radius-lg: 1.6rem;
$radius-md: 0.8rem;
$radius-sm: 0.4rem;
