@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");

/* 변수 모음 */
$font-base: "Noto Sans KR", Roboto, Arial, sans-serif;

$color-primary: #84b73f;
$color-white: #fff;
$color-black: #fff;
$color-text: #222;
$color-border: #ddd;
 